# Import

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:

path = r'C:\Users\16175\Desktop\Instacart Project'

In [3]:
df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [4]:
df_ord = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [5]:
#Create New DataFrame
df_test = pd.DataFrame()

In [6]:
#Create new Mixed column
df_test['mix'] = ['a', 'b', 1, True]

In [7]:
df_test.head()

    mix
0     a
1     b
2     1
3  True